* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    display:flex;
    width:100vw;
    height:100vh;
    justify-content: center;
}

form{
    margin-top:5%;
    display:flex;
    flex-flow: column nowrap;
    width:30%;
    height:30%;
    justify-content: space-around;
    align-items:center;
}

input{
    height:28px;
    width:100%;
}

button{
    width:30%;
}